*.o
*~
*.pyc
INSTALL
RUNTIME
data/KiDS*.fits 
tmp*
*.bak
scripts/unused
scripts/ImSim
config/covariance_arb_summary
config/cosebis/
kcap_all/
tex/
history/

kcap/modules/scale_cuts_new/test_files/twoPoint_PneE+PeeE.fits
kcap/modules/scale_cuts_new/test_files/twoPoint_KV450.fits
kcap/modules/scale_cuts_new/test_files/twoPoint_gT+xiP+xiM.fits
kcap/modules/scale_cuts_new/test_files/twoPoint_fakeCTerm.fits
